<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="page-header">Sign Up</h1>
        <!-- 错误消息显示-->
        {{#if errorMessages}}
            <div class="alert alert-danger">
                {{#each errorMessages}}
                    Error: {{this}} <br>
                {{/each}}
            </div>
        {{/if}}
        <form action="/users/signup" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-default pull-right">Sign Up</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    Handlebars.registerHelper('equal', function (v1, v2, options) {
        if (v1 == v2) {
            return options.fn(this);
        } else {
            return options.inverse(this);
        }
    });
</script>
